.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.contact-info {
    margin-bottom: 20px;
}

.motivational-quote {
    font-style: italic;
    font-size: 18px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.motivational-quote p {
    margin: 0;
}
.gradient-background {
    background: linear-gradient(320deg, hwb(172 0% 2%), #2bbbe3, hsl(293, 73%, 64%));
    background-size: 180% 180%;
    animation: gradient-animation 5s ease infinite;
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }