<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Coloring Game</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <h1>Coloring Game</h1>
    <div class="color-palette">
      <div class="color" style="background-color: red;"></div>
      <div class="color" style="background-color: blue;"></div>
      <div class="color" style="background-color: green;"></div>
      <div class="color" style="background-color: yellow;"></div>
    </div>
    <canvas id="canvas" width="400" height="400"></canvas>
  </div>

  <script src="script.js"></script>
</body>
</html>
